

<body>
   
  

    <header>

        <router-outlet></router-outlet>
    
       <br>
         
         
    
            <section id="feature" class="section-p1" >
    
               
    
               
    
            </section>
    
           
    
            <section id="product1" class="section-p1">
    
           
    
                   
    
               
    
       
    
       
    
        <header>
    
         
    
           
    <br><br><br>
            <section id="product1" class="section-p1">
    
               
    
                <div class="fe-box" >
    
                    <img src="../assets/images/fashion1.jpg" alt="" >
    
                    <h6></h6>
    
                </div >
    
                <h2>Women</h2>
    
                <p>(Women Fashions)</p>
    
                <div class="pro-container">
    
                <div class="pro">
    
                   
    
                    <div class="card image-container">
    
                       
    
       
    
                   
    
                    <img src="../assets/images/wedding.jpg" alt="">
    
                    </div>
    
                    <div class="des">
    
                        <span>SkyTara</span>
    
                        <h4>Wedding Dress</h4>
                        <h5>(₹12000/-) 40% sale on this product.</h5>
    
                        <div class="star">
    
                            <i class="fas fa-star"></i>
    
                            <i class="fas fa-star"></i>
    
                            <i class="fas fa-star"></i>
    
                            <i class="fas fa-star"></i>
    
                            <i class="fas fa-star"></i>
    
                        </div>
    
                        <h4>₹8400/-</h4>
    
                    </div>
    
                    <div class=""mt-3>
    
                        <button mat-raised-button color="warn" style="width: 100px" (click)="productopen()" routerLink="/product"> Buy Now</button>
    
                    </div>
    
                   
    
                </div>
    
                <div class="pro">
    
                    <img src="../assets/images/saree.jpeg" alt="">
    
                    <div class="des">
    
                        <span>Lichi silk</span>
    
                        <h4>Blue Silk Saree</h4>
                        <h5>(₹8000/-) 5% sale on this product.</h5>
    
                        <div class="star">
    
                            <i class="fas fa-star"></i>
    
                            <i class="fas fa-star"></i>
    
                            <i class="fas fa-star"></i>
    
                            <i class="fas fa-star"></i>
    
                            <i class="fas fa-star"></i>
    
                        </div>
    
                        <h4>₹7600/-</h4>
    
                    </div>
    
                    <div class=""mt-3>
    
                        <button mat-raised-button color="warn" style="width: 100px" (click)="productopen()"  routerLink="/product"> Buy Now</button>
    
                    </div>
    
                </div>
    
                <div class="pro">
    
                    <img src="../assets/images/denim1.jpg" alt="">
    
                    <div class="des">
    
                        <span>Denim</span>
    
                        <h4>New Denim Dress</h4>
                        <h5>(₹2200/-) 10% sale on this product.</h5>
    
                        <div class="star">
    
                            <i class="fas fa-star"></i>
    
                            <i class="fas fa-star"></i>
    
                            <i class="fas fa-star"></i>
    
                            <i class="fas fa-star"></i>
    
                            <i class="fas fa-star"></i>
    
                        </div>
    
                        <h4>₹1980/-</h4>
    
                    </div>
    
                    <div class=""mt-3>
    
                        <button mat-raised-button color="warn" style="width: 100px" (click)="productopen()" routerLink="/product"> Buy Now</button>
    
                    </div>
    
                </div>
    
                <div class="pro">
    
                    <img src="../assets/images/kurti.jpg" alt="">
    
                    <div class="des">
    
                        <span>Arya Dress Maker</span>
    
                        <h4>Kurti Jacket Model</h4>
                        <h5>(₹900/-) 5% sale on ths product.</h5>
    
                        <div class="star">
    
                            <i class="fas fa-star"></i>
    
                            <i class="fas fa-star"></i>
    
                            <i class="fas fa-star"></i>
    
                            <i class="fas fa-star"></i>
    
                            <i class="fas fa-star"></i>
    
                        </div>
    
                        <h4>₹855/-</h4>
    
                    </div>
    
                    <div class=""mt-3>
    
                        <button mat-raised-button color="warn" style="width: 100px" (click)="productopen()"  routerLink="/product"> Buy Now</button>
    
                    </div>
    
                </div>
    
                <div class="pro">
    
                    <img src="../assets/images/sandals girls.jpg" alt="">
    
                    <div class="des">
    
                        <span>Mohi</span>
    
                        <h4>Women Sandals</h4>
                        <h5>(₹1020/-) 20% sale on this product.</h5>
    
                        <div class="star">
    
                            <i class="fas fa-star"></i>
    
                            <i class="fas fa-star"></i>
    
                            <i class="fas fa-star"></i>
    
                            <i class="fas fa-star"></i>
    
                            <i class="fas fa-star"></i>
    
                        </div>
    
                        <h4>₹816/-</h4>
    
                    </div>
    
                    <div class=""mt-3>
    
                        <button mat-raised-button color="warn" style="width: 100px" (click)="productopen()" routerLink="/product"> Buy Now</button>
    
                       
    
                    </div>
    
                </div>
    
                </div>
    
               
    
            </section>
    
       
    
           
    
           
    
        </header>
        <div class="fe-box">
            <section id="product1" class="section-p1"></section>
    
            <img src="../assets/images/fashion.jpg" alt="">
        

            <h6></h6>

        </div>

       



        <h2>Men</h2>

        <p>(Men Fashions)</p>

        <div class="pro-container">

        <div class="pro">

           

            <div class="card image-container">

               



           

            <img src="../assets/images/shirt.jpg" alt="">

            </div>

            <div class="des">

                <span>Crocodile</span>

                <h4>Brand New Shirt</h4>
                <h5>(₹5200/-) 20% sale on this product.</h5>

                <div class="star">

                    <i class="fas fa-star"></i>

                    <i class="fas fa-star"></i>

                    <i class="fas fa-star"></i>

                    <i class="fas fa-star"></i>

                    <i class="fas fa-star"></i>

                </div>

                <h4>₹3120/-</h4>

            </div>

            <div class=""mt-3> 

                <button mat-raised-button color="warn" style="width: 100px" (click)="productopen()"  routerLink="/product"> Buy Now</button>

            </div>

        </div>



       

        <div class="pro">

            <img src="../assets/images/hoodie.jpg" alt="">

            <div class="des">

                <span>pantaloons</span>

                <h4>New Noise Hoodie</h4>
                <h5>(₹3700/-) 10% sale on this product.</h5>

                <div class="star">

                    <i class="fas fa-star"></i>

                    <i class="fas fa-star"></i>

                    <i class="fas fa-star"></i>

                    <i class="fas fa-star"></i>

                    <i class="fas fa-star"></i>

                </div>

                <h4>₹3330/-</h4>

             

                <div class=""mt-3>

                    <button mat-raised-button color="warn" style="width: 100px" (click)="productopen()" routerLink="/product"> Buy Now</button>

                </div>
</div>
</div>



        <div class="pro">

            <img src="../assets/images/cargo1.jpg" alt="">

            <div class="des">

                <span>pantaloons</span>

                <h4>Cargo Pant</h4>
                <h5>(₹5400/-) 30% sale on this product.</h5>

                <div class="star">

                    <i class="fas fa-star"></i>

                    <i class="fas fa-star"></i>

                    <i class="fas fa-star"></i>

                    <i class="fas fa-star"></i>

                    <i class="fas fa-star"></i>

                </div>

                <h4>₹3780/-</h4>

            </div>

            <div class=""mt-3>

                <button mat-raised-button color="warn" style="width: 100px" (click)="productopen()" routerLink="/product"> Buy Now</button>

            </div>

        </div>

        <div class="pro">

            <img src="../assets/images/adidas1.jpg" alt="">

            <div class="des">

                <span>adidas</span>

                <h4>Casuals</h4>
                <h5>(₹8500/- 30% sale on this product.</h5>

                <div class="star">

                    <i class="fas fa-star"></i>

                    <i class="fas fa-star"></i>

                    <i class="fas fa-star"></i>

                    <i class="fas fa-star"></i>

                    <i class="fas fa-star"></i>

                </div>

                <h4>₹5950/-</h4>

            </div>

            <div class=""mt-3>

                <button mat-raised-button color="warn" style="width: 100px" (click)="productopen()" routerLink="/product"> Buy Now</button>

            </div>

        </div>

        <div class="pro">

            <img src="../assets/images/puma2.jpg" alt="">

            <div class="des">

                <span>Puma</span>

                <h4>Sandals</h4>
                <h5>(₹5500/-) 10% sale on this product.</h5>

                <div class="star">

                    <i class="fas fa-star"></i>

                    <i class="fas fa-star"></i>

                    <i class="fas fa-star"></i>

                    <i class="fas fa-star"></i>

                    <i class="fas fa-star"></i>

                </div>

                <h4>₹4950/-</h4>

            </div>

            <div class=""mt-3>

                <button mat-raised-button color="warn" style="width: 100px" (click)="productopen()" routerLink="/product"> Buy Now</button>

               

            </div>

        </div>

        </div>

       

    </section>





   

   

</header>
    
        <section id="feature">
    
            <div class="section-p1">
    
                <router-outlet></router-outlet>
    
            </div>
    
        </section>

</body>