.bg{
 
    width:100%;
    height:609px;
    background-image: linear-gradient(rgba(0,0,0,0.65),rgba(0,0,0,0.65)),url(ccc.jpg);
    background-size: cover;
    background-position: center;
}
.form-control {

    border-radius: 3px;

    width: 400px;

    margin-left: 20px;

}

.search-icon{

    position: absolute;

    z-index: 10;

    right: 40%;

    color: rgb(91, 164, 91);

}

.card-top{

    position: relative;

    display: flex;

    flex-direction: column;

    min-width: 0;

    word-wrap: break-word;

    background: #fff;

    background-clip: border-box;

    border: 1px solid rgba(0, 0, 0, 0.2);

    border-radius: .25rem;

}

.item img{

    width: 64px;

}

.item{

    margin: 0px 15px;

}

#feature{

    display: flex;

    align-items: center;

    justify-content: space-between;

    flex-wrap: wrap;

}

#feature .fe-box{

    width: 180px;

    text-align: center;

    padding: 25px 15px;

    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);

    border: 1px solid #cce7d0;

    border-radius: 4px;

    margin: 15px 0;

}

#feature .fe-box:hover {

    box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.1);

}

feature .fe-box img {

    width: 100;

    margin-bottom: 10px;

}

#feature .fe-box h6{

    display: inline-block;

    padding: 9px 8px 6px 8px;

    line-height: 1;

    border-radius: 4px;

    color: #a2c4c2;

    background-color: #fddde4;

}

#product1 {

    text-align: center;





}
 

#product1 .pro-container{

    display: flex;

    justify-content: space-between;

    padding-top: 20px;

}

#product1 .pro{

    width: 23%;

    min-width:250px;

    padding: 10px 12px;

    border: 1px solid #cce7d0;

    border-radius: 25px;

    cursor: pointer;

    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);

    margin: 15px 0;

    transition: 0.2s ease;

}

#product1 .pro:hover{

    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);

}

#product1 .pro img{

    width: 100%;

    border-radius: 20px;

}

#product1 .pro .des{

    text-align: start;

    padding: 10px 0;

}

#product1 .pro .des span{

    color: #606063;

    font-size: 12px;

}

#product1 .pro .des h5{

    padding-top: 7px;

    color: #1a1a1a;

    font-size: 14px;

}

#product1 .pro .des i {

    font-size: 12px;

    color: rgb(243,181,25);

}

#product1 .pro .des h6{

    padding-top: 7px;

    color: #088178;

    font-size: 15px;

    font-weight: 700;

}

header{
    width:100%;
    background-color:whitesmoke;
    background-image: linear-gradient(rgba(0,0,0,0.65),white),url(ccc.jpg);
    background-position: center;
    
}

button{
    background-color:#a4d7e9;
}