<h3>View Order Details</h3>
<div>
    <div>
        <label><b>ProductId:</b></label>{{orders.productid}}     
    </div>
    <div>
        <label><b>Productname:</b></label>{{orders.productname}}     
    </div>
    <div>
        <label><b>FirstName:</b></label>{{orders.firstName}}
    </div>
    <div>
        <label><b>LastName:</b></label>{{orders.lastName}}
    </div>
    <div>
        <label><b>MobileNumber:</b></label>{{orders.mobileNumber}}
    </div>
    <div>
        <label><b>AlternateMobileNumber:</b></label>{{orders.alternateMobileNumber}}
    </div>
    <div>
        <label><b>ShippingAddress:</b></label>{{orders.shippingAddress}}
    </div>
</div>