<br><br>
<div>
    <h2>Order List</h2>
</div><br><br>
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Productid</th>
            <th>Productname</th>
            <th>FirstName</th>
            <th>LastName</th>
            <th>MobileNumber</th>
            <th>AlternateMobileNumber</th>
            <th>ShippingAddress</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let orders of orders">
            <td>{{orders.productid}}</td>
            <td>{{orders.productname}}</td>
            <td>{{orders.firstName}}</td>
            <td>{{orders.lastName}}</td>
            <td>{{orders.mobileNumber}}</td>
            <td>{{orders.alternateMobileNumber}}</td>
            <td>{{orders.shippingAddress}}</td>
        </tr>
    </tbody>
</table>
