
.bg{




    width:100%;




    height:609px;




 




    background-image: linear-gradient(rgba(0,0,0,0.65),rgba(0,0,0,0.65)),url(login.png);

   




    background-size: cover;




    background-position: center;




}

.login{

    text-align: center;

}




.form{




 width: 30%;

    position:absolute;




    top: 25%;




    transform: translate(-50%);




    text-align: justify;




    color:rgb(8, 244, 248);




align-self: center;





    margin-left: 50%;




text-align: justify;




margin-right: 100vh;






}




a{




    text-decoration: none;

    color: rgb(255, 146, 146);

       

    }




.button{

    width:100px;

    text-align: center;

    margin: 20px 10px;

    border-radius: 5px;

    font-weight: bold;

    background: transparent;

    color: #f7f7f7;

    cursor: pointer;

position: relative;

overflow: hidden;

margin-top: 20px;

text-decoration: none;

border:2px solid #00e5ff;

text-transform: uppercase;




background-color:rgb(72, 135, 136);

}