
<div class="fm">Shopsy 
   
    
    
</div>

    <div class="row">    
    <div class="button">
        <button    routerLink="/products">Product List</button>
    </div>

    <div class="button">
        <button    routerLink="/createproducts">Add Product</button>
    </div>

    <div class="button">
        <button    routerLink="/orders">Order List</button>
    </div>

    <div class="button">
        <button    routerLink="/payment">Payment List</button>
    </div>

    <div class="button">
        <button    routerLink="/home">Log Out</button>
    </div>
</div>    
    
    <div class="container">
        <router-outlet></router-outlet>
    </div>
  
