<div class="row">
    <div class="card  ">
       
            <h3 class="text-center">Update Products</h3>
            <hr/>
            <div class="card-body">
                <form (ngSubmit)="onSubmit()">

                    <div class="form-group">

                        <label>BrandName</label>

                        <input type="text" class="form-control" id="brandname" [(ngModel)]="products.brandname"

                        name="brandname">

                    </div>
                    <div class="form-group">

                        
                        <label>Productname</label>
                        <input type="text" class="form-control" id="productname" [(ngModel)]="products.productname" 
                        name="productname">
                    </div>
                 
                    <div class="form-group">
                        <label>Specification</label>
                        <input type="text" class="form-control" id="discount" [(ngModel)]="products.discount" 
                        name="discount">
                    </div>
                    <div class="form-group">
                        <label>Buyingprice</label>
                        <input type="text" class="form-control" id="buyingprice" [(ngModel)]="products.buyingprice" 
                        name="buyingprice">
                    </div>
                    <br/>
                    <button class="btn btn-success" type="submit" (click)="showupdate()" >Submit</button>
                </form>
            </div>
        </div>
    </div>
