<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&display=swap" rel="stylesheet">


</head>
<body>
    <div class="bg">
<div class="fm">Shopsy</div>

<h1>Welcome to Shopsy</h1>



    <button class="button button1" routerLink="/login">LOGIN</button><br><br>
    <h3>Not a Member?</h3><br>
    <button class="button button2" routerLink="/register">REGISTER</button>
    


</div>
  

<router-outlet></router-outlet> 

</body>
</html>







   

